Repository ramge132/long-ago: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_FE, build_BE, push_FE, push_BE

build_FE:
  stage: build
  image: docker:27.4.0
  variables:
    IMAGE_NAME: $FE_IMAGE
    DOCKERFILE_PATH: FE/Dockerfile
    CONTEXT: FE
    VITE_GOOGLE_CLIENT_ID: $VITE_GOOGLE_CLIENT_ID
    VITE_MAIN_API_SERVER_URL: $VITE_MAIN_API_SERVER_URL
    VITE_USERS: $VITE_USERS
    VITE_USERS_SIGNIN: $VITE_USERS_SIGNIN
  ...

build_BE:
  stage: build
  image: gradle:8.12.0-jdk17-alpine
  variables:
    IMAGE_NAME: $BE_IMAGE
    DOCKERFILE_PATH: BE/Dockerfile
    CONTEXT: BE
  script:
  - echo "==========================="
  - echo "      BACK-END빌드 중"
  - echo "==========================="
  ...

push_FE:
  stage: push
  variables:
    IMAGE_NAME: $FE_IMAGE
  script:
  - echo "==========================="
  - echo "  FRONT-END 이미지 푸쉬 중"
  - echo "==========================="
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push $IMAGE_NAME:$CI_COMMIT_SHA
  ...

push_BE:
  stage: push
  variables:
    IMAGE_NAME: $BE_IMAGE
  script:
  - echo "==========================="
  - echo "  BACK-END 이미지 푸쉬 중"
  - echo "==========================="
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push $IMAGE_NAME:$CI_COMMIT_SHA
  ...

feat : WebRTC 시그널링 서버
  BE/src/main/java/com/example/b101/common/ApiResponse.java
  BE/src/main/java/com/example/b101/common/ApiResponseUtil.java
  BE/src/main/java/com/example/b101/config/WebSocketConfig.java
  BE/src/main/java/com/example/b101/dto/CreateRoomDto.java
  BE/src/main/java/com/example/b101/dto/CustomUserDetails.java
  BE/src/main/java/com/example/b101/dto/SignUpDto.java
  BE/src/main/java/com/example/b101/handler/SignalingHandler.java
  BE/src/main/java/com/example/b101/repository/BookRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/CustomUserDetailsService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/UserService.java
Due: build_BE, push_BE

feat : dockerfile
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

feat : 카 game 생성 및 card 분배
  BE/src/main/java/com/example/b101/controller/CardController.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/controller/UserController.java
  BE/src/main/java/com/example/b101/domain/Game.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/domain/Room.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/domain/StoryCard.java
  BE/src/main/java/com/example/b101/dto/CreateGame.java
  BE/src/main/java/com/example/b101/repository/EndingCardRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/CardService.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/UserService.java
Due: build_BE, push_BE

feat : 카드 리스트 등록
  BE/build.gradle
  BE/src/main/java/com/example/b101/common/ApiResponse.java
  BE/src/main/java/com/example/b101/common/ApiResponseUtil.java
  BE/src/main/java/com/example/b101/config/RedisConfig.java
  BE/src/main/java/com/example/b101/config/SecurityConfig.java
  BE/src/main/java/com/example/b101/controller/CardController.java
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/controller/UserController.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/EndingCard.java
  BE/src/main/java/com/example/b101/domain/Room.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/domain/StoryCard.java
  BE/src/main/java/com/example/b101/dto/CreateRoomDto.java
  BE/src/main/java/com/example/b101/dto/CustomUserDetails.java
  BE/src/main/java/com/example/b101/dto/SignUpDto.java
  BE/src/main/java/com/example/b101/handler/SignalingHandler.java
  BE/src/main/java/com/example/b101/repository/BookRepository.java
  BE/src/main/java/com/example/b101/repository/EndingCardRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/repository/StoryCardRepository.java
  BE/src/main/java/com/example/b101/repository/UserRepository.java
  BE/src/main/java/com/example/b101/service/CardService.java
  BE/src/main/java/com/example/b101/service/CustomUserDetailsService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/UserService.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

feat: dockerfile&yml
  BE/Dockerfile
  gitlab-ci.yml
Due: build_BE, push_BE

feat: 주석추가
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  gitlab-ci.yml
Due: build_BE, push_BE

feat: add yml
  .gitlab-ci.yml
Due: none

feat: add env
  .gitlab-ci.yml
  BE/.env
  BE/.gitignore
  BE/build.gradle
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

Update .env
  BE/.env
Due: build_BE, push_BE

feat: delete & read game data
  BE/.env
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/domain/Game.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/repository/GameRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/GameService.java
Due: build_BE, push_BE

feat: endingcard 리롤
  .gitlab-ci.yml
  BE/.env
  BE/Dockerfile
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/repository/GameRepository.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

feat: Game Data Management
  BE/.env
  BE/src/main/java/com/example/b101/cache/Game.java
  BE/src/main/java/com/example/b101/cache/RedisConfig.java
  BE/src/main/java/com/example/b101/cache/Room.java
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/common/ApiResponse.java
  BE/src/main/java/com/example/b101/config/CorsConfig.java
  BE/src/main/java/com/example/b101/config/SecurityConfig.java
  BE/src/main/java/com/example/b101/config/WebSocketConfig.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/Game.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/domain/StoryCard.java
  BE/src/main/java/com/example/b101/domain/User.java
  BE/src/main/java/com/example/b101/dto/CreateGame.java
  BE/src/main/java/com/example/b101/dto/CreateRoomDto.java
  BE/src/main/java/com/example/b101/dto/CreateSceneDto.java
  BE/src/main/java/com/example/b101/dto/CustomUserDetails.java
  BE/src/main/java/com/example/b101/dto/ResponseGameData.java
  BE/src/main/java/com/example/b101/dto/SignUpDto.java
  BE/src/main/java/com/example/b101/handler/SignalingHandler.java
  BE/src/main/java/com/example/b101/repository/BookRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepositoryImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

delete: corsConfig
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/cache/Game.java
  BE/src/main/java/com/example/b101/cache/RedisConfig.java
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/config/CorsConfig.java
  BE/src/main/java/com/example/b101/config/WebClientConfig.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
Due: build_BE, push_BE

feat: filering 기능 추가
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/StoryCardVariants.java
  BE/src/main/java/com/example/b101/dto/FilteringRequest.java
  BE/src/main/java/com/example/b101/repository/StoryCardVariantsRepository.java
  BE/src/main/java/com/example/b101/service/FilteringService.java
Due: build_BE, push_BE

test: gpu 서버 통신
  .gitlab-ci.yml
  BE/Dockerfile
  BE/build.gradle
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/cache/Game.java
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/config/WebClientConfig.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/dto/CreateGame.java
  BE/src/main/java/com/example/b101/dto/ResponseGame.java
  BE/src/main/java/com/example/b101/dto/ResponseScene.java
  BE/src/main/java/com/example/b101/repository/GameRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RoomRepoImpl.java
  BE/src/main/java/com/example/b101/repository/StoryCardRepository.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

refactor: 주석 추가 및 변수명 수정
  BE/.env
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/controller/UserController.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/dto/GameRequest.java
  BE/src/main/java/com/example/b101/dto/GameResponse.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneRequest.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneResponse.java
  BE/src/main/java/com/example/b101/dto/ResponseGameData.java
  BE/src/main/java/com/example/b101/dto/ResponseScene.java
  BE/src/main/java/com/example/b101/dto/RoomRequest.java
  BE/src/main/java/com/example/b101/dto/SceneRequest.java
  BE/src/main/java/com/example/b101/dto/SignUpRequest.java
  BE/src/main/java/com/example/b101/repository/BookRepository.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepository.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/java/com/example/b101/service/UserService.java
Due: build_BE, push_BE

fix: 게임 생성 시 방장 카드정보
  BE/src/main/java/com/example/b101/service/GameService.java
Due: build_BE, push_BE

fix: 게임 생성 버그 수정
  BE/src/main/java/com/example/b101/service/GameService.java
Due: build_BE, push_BE

feat: 이미지 생성 로직
  .gitlab-ci.yml
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/config/WebClientConfig.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneRequest.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneResponse.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepository.java
  BE/src/main/java/com/example/b101/repository/StoryCardVariantsRepository.java
  BE/src/main/java/com/example/b101/service/FilteringService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/java/com/example/b101/service/UserService.java
Due: build_BE, push_BE

fix: 지옥에서 돌아오다.
  BE/.gitattributes
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/StoryCard.java
Due: build_BE, push_BE

cicd: test
  .gitlab-ci.yml
  FE/Dockerfile
Due: build_FE, push_FE

feat: 인게임 투표 모달 구조 제작
  FE/src/assets/icons/down_right.svg
  FE/src/assets/icons/up_left.svg
  FE/src/assets/index.js
  FE/src/components/InGame/InGameVote.vue
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

update: 테스트 서버 캐시 정리
  .gitlab-ci.yml
Due: none

update: 파이프라인 피드백 보완 deploy when it merged
  .gitlab-ci.yml
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

update: rules에 CICD/test 추가
  .gitlab-ci.yml
Due: none

feat: GameView에서 책 추가
  FE/src/components/InGame/InGameContent.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat: 카드 및 아이콘 추가
  FE/src/assets/cards/ending_short.svg
  FE/src/assets/cards/index.js
  FE/src/assets/cards/story_short.svg
  FE/src/assets/icons/star.svg
  FE/src/assets/index.js
Due: build_FE, push_FE

style: 책 표지 변경
  FE/src/components/InGame/InGameContent.vue
Due: build_FE, push_FE

feat: 자신이 보유한 카드
  FE/src/components/InGame/InGameControl.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

style: 디자인 수정
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

feat: 투표 반대 시 scene 데이터 삭제
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/dto/FilteringRequest.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneRequest.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/service/FilteringService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
Due: build_BE, push_BE

feat: 엔딩카드 리롤 구현
  FE/src/components/InGame/InGameControl.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat: 엔딩카드 리롤 구현
  FE/src/apis/game.js
Due: build_FE, push_FE

feat: 데이터 캐싱
  BE/src/main/java/com/example/b101/cache/Game.java
  BE/src/main/java/com/example/b101/cache/RedisConfig.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/EndingCard.java
  BE/src/main/java/com/example/b101/domain/StoryCard.java
  BE/src/main/java/com/example/b101/domain/StoryCardVariants.java
  BE/src/main/java/com/example/b101/dto/CachingEndingCard.java
  BE/src/main/java/com/example/b101/dto/CachingStoryCard.java
  BE/src/main/java/com/example/b101/dto/CachingVariants.java
  BE/src/main/java/com/example/b101/repository/EndingCardRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepoImpl.java
  BE/src/main/java/com/example/b101/repository/StoryCardRepository.java
  BE/src/main/java/com/example/b101/repository/StoryCardVariantsRepository.java
  BE/src/main/java/com/example/b101/service/CachingService.java
  BE/src/main/java/com/example/b101/service/CardService.java
  BE/src/main/java/com/example/b101/service/FilteringService.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
Due: build_BE, push_BE

feat: 내 카드 적용, 카드 리롤 추가
  FE/src/apis/game.js
  FE/src/components/InGame/InGameControl.vue
Due: build_FE, push_FE

feat: 프롬프트 제출 후 로직 개선
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat: 리롤 횟수 제한
  FE/src/components/InGame/InGameControl.vue
Due: build_FE, push_FE

Path conditions:
  build_FE: any of: FE/**/*
  build_BE: any of: BE/**/*
  push_FE: any of: FE/**/*
  push_BE: any of: BE/**/*
